.lead__image {
	width: calc(984 / 1280 * 100%);
	background-image: url(../../../images/lead-polka.jpg);
	padding-bottom: calc(5/8*75%);
	background-size: contain;
	margin: 0 auto;
}

@media screen and (max-width: 1024px) {
	.lead__image {
		width: calc(928 / 1024 * 100%);
		padding-bottom: calc(5/8*90%);

	}
}

@media screen and (max-width: 768px) {
	.lead__image {
		width: 100%;
		padding-bottom: calc(5/8*100%);
	}
}