.intro__text {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	margin: 0;
	padding: 0 0 33px;
}

@media screen and (min-width: 769px) {
	.intro__text {
		max-width: 690px;
	}
}