.cover {
	width: calc(100%-96px);
	margin: 0 48px;
	padding: 0 0 92px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	text-decoration: none;
	color: #ffffff;
}

@media screen and (max-width: 1024px) {
	.cover {
		margin: 0;
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.cover {
		padding: 0 0 88px;
	}
}

@media screen and (max-width: 600px) {
	.cover {
		padding: 0 0 64px;
	}
}