.lead__container {
	position: relative;
	width: 75%;
	margin: 0 auto;
}

@media screen and (max-width: 1024px) {
	.lead__container {
		width: 90%;
	}
}

@media screen and (max-width: 768px) {
	.lead__container {
		width: 100%;
	}
}